# To separate your traces from other application
LANGSMITH_PROJECT=SickHack
LANGSMITH_TRACING=true
# Add API keys for connecting to LLM providers, data sources, and other integrations here
LANGSMITH_API_KEY=

MAIN_OPENAI_API_KEY=sk-
MAIN_OPENAI_BASE_URL=
MAIN_OPENAI_MODEL=deepseek-chat
MAIN_MODEL_TEMPERATURE=0.0

BACKUP_OPENAI_API_KEY=sk-
BACKUP_OPENAI_BASE_URL=
BACKUP_OPENAI_MODEL=deepseek-chat
BACKUP_MODEL_TEMPERATURE=0.0

KALI_API_BASE_URL=http://kali:5000/